<div class="w-full">
    <h1>HackerNews Top 10</h1>
  </div>
  <form class="w-full">
    <div class="flex flex-wrap">
      <input class="basis-3/4 pl-6 pr-100 border" type="text">
      <input class="basis-1/4 border" type="submit">
    </div>
  </form>

